*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
}

/* navbar */
nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #222222;
    color: white;
}

/* button layout */
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 15px;
}

nav ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
/* end button layout */

nav .btn-label{
    font-size: 12px;
}

nav .fa{
    font-size: 30px;
}

nav .fa.fa-chevron-up{
    font-size: 10px;
}

nav .fa.fa-share-square-o{
    color: #4CC900;
}

.end{
    color: red;
    background-color: #4A4A4A;
    padding: calc((82px - 18px) / 2);
}
/* end navbar */

.container{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
    display: flex;
    gap: 15px 5px;
    flex-wrap: wrap;
    /* margin-bottom: calc(82px +30px); */

}

main{
    /* margin-bottom: calc(82px + 30px); */
    /* overflow-y: auto; */
}

.cam{
    background-color: white;
    width: calc(100% / 7 - 5px / 7 * 6);
    min-width: 220px;

    position: relative;
}

.cam img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tags{
    position: absolute;
    left: 0;
    bottom: 0;

    font-size: 15px;
    color: white;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.678);
}

.viewbar{
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    color: white;
}

.viewbar div{
    padding: 5px;
    border-radius: 3px;
    background-color: #4A4A4A;
}